cn2an
encodec
eng_to_ipa
faster-whisper
gradio==3.41.2
inflect
jieba
langid
matplotlib
meshtastic
nltk
numpy
openai-whisper
pyaudio
pyopenjtalk-prebuilt
pypinyin
soundfile
SpeechRecognition
sudachidict_core
sudachipy
tk
tokenizers
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchaudio
torchvision
translatepy
unidecode
vall-e @ git+https://github.com/Plachtaa/VALL-E-X.git@3faaf8ccadb154d63b38070caf518ce9309ea0f4
vocos
wget
