cn2an
encodec
eng_to_ipa
faster-whisper
gradio==3.41.2
inflect
jieba
langid
matplotlib
meshtastic
nltk
numpy
openai-whisper
pyaudio
pyopenjtalk-prebuilt
pypinyin
soundfile
SpeechRecognition
sudachidict_core
sudachipy
tk
tokenizers
--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchaudio
torchvision
translatepy
unidecode
vall-e-x @ git+https://github.com/paulperegud/VALL-E-X.git@b8abbe228ef2ac65e22b49422e1e8312e81119f0
vocos
wget
